<div class="col-xs-12 col-sm-8">
    <img src="~/Content/Images/sentient-logo.png" alt="main logo" />
    <h2>This is only a Mockup application. Nothing under the hood and no real logic or database connections. It is used for demonstration purposes only.</h2>
    <h2>Sentient Clinical Management System</h2>
    <p class="lead">Welcome to the Sentient Clinical Management System.  Please sign in to continue.</p>
</div>
