/* here you can put your own css to customize and override the theme */
/*.page-logo {
    color: white;
}
.page-logo div:first-child {
    font-size: 21px;
}
.page-logo div:last-child {
    margin-top: -2px;
}

.page-header.navbar .top-menu .navbar-nav > li.link {
    margin: 0px;
    padding: 0px 4px;
    height: 50px;
    display: inline-block; 
}
.page-header.navbar .top-menu .navbar-nav > li.link > i {
    font-size: 17px; 
}*/

.page-header.navbar .page-logo .logo-default {
      margin: 5px 0 0 0; 
}


