

<div class="row">
    <div class="col-md-12">
        <div class="col-md-1">
            <h3>Procedures</h3>
        </div>
        <div class="col-md-10">
            <a class="btn btn-primary btn-procedure-add" href="#">Add</a>
        </div>
    </div>
</div>

<div class="row form-horizontal">
    <ul>
        <li>
            <div>
                <a class="btn btn-danger btn-procedure-delete" href="#">Delete</a>
                <label class="control-label">Aortic Stenosis Repair</label>
            </div>
        </li>
        <li>
            <div>
                <a class="btn btn-danger btn-procedure-delete" href="#">Delete</a>
                <label class="control-label">Proedure 2</label>
            </div>
        </li>
    </ul>
</div>



