@using POC.Helper

@model IEnumerable<POC.Models.User> 
@{ 
    var selectedItems = new List<int>();
}

    <div>
        @{
            foreach(var user in Model)
            {
                <div>
                    @Html.CheckBox(user.Id.ToString(), new { htmlAttributes = new { @class = "form-control" } } )
                    @Html.Label(user.Description, new { htmlAttributes = new { @class = "control-label" } })
                </div>
            }
         }
    </div>
