@model IEnumerable<POC.Models.User> 
@{
    <h1> Contacts</h1>
    <ul>
        @foreach (var user in Model) {
            var online = "Offline";
            var onlineImage = "reddot.png";
            if (user.Online)
            {
                onlineImage = "greendot.png";
                online = "Online";
            }
            <li>
                <div>   
                    @if (online == "Online")
                    {
                        @Html.CheckBox(user.Id.ToString(), new { @class = "form-control-checkbox user-checkbox", @id = user.Id, data_description = user.Description })
                    }
                    else
                    {
                        @Html.CheckBox(user.Id.ToString(), new { @class = "form-control-checkbox user-checkbox", @disabled = "disabled" })
                    }
                </div>
                <div>
                    @Html.Label(user.Description, new { @class = "checkbox-label", @for = user.Id })
                </div>
                <div>
                    <img src="~/Images/@onlineImage" class="isonline" data-description="@user.Description" alt="online" title="User is online"/>
                    @*@Html.Label(online, new { @class = "isonline", @id = user.Id, data_description = user.Description })*@
                </div>
            </li>
        }
    </ul>
}
