@using POC.Helper
@model IEnumerable<POC.Models.User> 
@{
    <h1>Contacts</h1>
    <ul>
        @*TODO: Get from local storage after loading it the first time*@
        @foreach (var user in Model) {
            var onlineClass = "offline";
            if (user.Online) {
                onlineClass = "online";
            }
            <li>
                <div style="display: inline-block">
                    <div class="chat-status isonline @onlineClass" data-description="@user.Description"></div>
                </div>
                <div style="display: inline-block;">
                    @Html.CheckBox(user.Id.ToString(), new { @class = "form-control-checkbox user-checkbox", @id = user.Id, data_description = user.Description }).DisableIf(() => !user.Online)
                </div>
                <div style="display: inline-block">
                    @Html.Label(user.Description, new { @class = "checkbox-label", @for = user.Id })
                </div>
            </li>
        }
    </ul>
}
